@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
}

body,
html {
    width: 100%;
    height: 100%;
}

/* Header/Landing */

header {
    max-width: 100vw;
    background-color: #bae1ff;
    height: 100vh;
}

nav {
    position: absolute;
    display: flex;
    right: 0;
}

nav li {
    list-style: none;
    margin: 1vh;
}

nav a {
    font-size: 1.5em;
    transition: all 0.25s ease;
}

a {
    transition: all 0.25s ease;
}

a:hover {
    text-decoration: underline;
    color: #ff4051;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.name {
    text-align: center;
}

.name h1 {
    font-size: 4rem;
}

.sub p {
    font-size: 2rem;
}
.sub b {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    color: #ff4051;
}

.arrow {
    position: absolute;
    bottom: 0;
}

.left {
    position: absolute;
    width: 1vh;
    height: 5vh;
    background-color: #ff4051;
    transform: translate(-200%,-110%) rotateZ(-45deg);
    border-radius: 2px;
}
.right {
    position: absolute;
    width: 1vh;
    height: 5vh;
    background-color: #ff4051;
    transform: translate(100%,-110%) rotateZ(45deg);
    border-radius: 2px;
}

.arrow2 {
    position: absolute;
    left: 50%;
}

/* Portfolio/Contact */

.wrapper {
    min-height: 100%;
    background-color: #ffffba;
}

.wrapper:nth-child(3) {
    background-color: #baffc9;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5vh;
}

.header h1 {
    font-size: 3em;
}

.header p {
    font-size: 1.3em;
}

.projects {
    width: 85%;
    margin: auto;
    padding-bottom: 2vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    background-color: #ffffba;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entry {
    text-align: center;
    min-width: 300px;
    height: 100%;
    width: 25%;
    margin: 5vh;
}

.entry img {
    width: 100%;
    height: 70%;
    border-radius: 1vh;
}

.contact {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}

form {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}

form b {
    font-size: 1.5em;
}

form input, form textarea {
    outline: 0;
    background-color: #fff;
    border: none;
    margin: 1vh;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    margin-top: 0;
    margin-bottom: 0;
    border: 0.25vh solid #999;
    transition: box-shadow 0.25s ease;
}

input:focus, textarea:focus {
    box-shadow: 0 0 0 0.3vh #bae1ff;
}

form textarea {
    padding: 1vh;
    width: 40vh;
    height: 20vh;
}

form label {
    padding: 0.5vh;
}

form div {
    display: flex;
    justify-content: center;
    margin: 1vh;
}

form div:nth-child(3) {
    display: flex;
    flex-direction: column;
    text-align: center;
}

form button {
    border: 2px solid #dcdcdc;
    background-color: #fff;
    padding: 1vh;
    padding-right: 2vh;
    padding-left: 2vh;
}

footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 1vh;
    background-color: #baffc9;
}

footer p {
    opacity: 0.5;
    transition: all 0.25s ease;
}

footer p:hover {
    opacity: 1;
}